/CollisionManagerLib/bin/Debug/CollisionEngineLib.dll
/CollisionManagerLib/bin/Debug/CollisionEngineLib.pdb
/CollisionManagerLib/bin/Debug/CollisionManagerLib.dll
/CollisionManagerLib/bin/Debug/CollisionManagerLib.pdb
/CollisionManagerLib/bin/Debug/MonoGame.Framework.dll
/CollisionManagerLib/bin/Debug/MonoGame.Framework.xml
/CollisionManagerLib/bin/Debug/SharpDX.DXGI.dll
/CollisionManagerLib/bin/Debug/SharpDX.Direct2D1.dll
/CollisionManagerLib/bin/Debug/SharpDX.Direct3D11.dll
/CollisionManagerLib/bin/Debug/SharpDX.Direct3D9.dll
/CollisionManagerLib/bin/Debug/SharpDX.MediaFoundation.dll
/CollisionManagerLib/bin/Debug/SharpDX.RawInput.dll
/CollisionManagerLib/bin/Debug/SharpDX.XAudio2.dll
/CollisionManagerLib/bin/Debug/SharpDX.XInput.dll
/CollisionManagerLib/bin/Debug/SharpDX.dll
/CollisionManagerLib/bin/Debug/nunit.framework.dll
/CollisionManagerLib/bin/Debug/nunit.framework.xml
/CollisionManagerLib/obj/Debug/CollisionManagerLib.csproj.FileListAbsolute.txt
/CollisionManagerLib/obj/Debug/CollisionManagerLib.csprojResolveAssemblyReference.cache
/CollisionManagerLib/obj/Debug/CollisionManagerLib.dll
/CollisionManagerLib/obj/Debug/CollisionManagerLib.pdb
/CollisionManagerTests/bin/Debug/CollisionEngineLib.dll
/CollisionManagerTests/bin/Debug/CollisionEngineLib.pdb
/CollisionManagerTests/bin/Debug/CollisionManagerLib.dll
/CollisionManagerTests/bin/Debug/CollisionManagerLib.pdb
/CollisionManagerTests/bin/Debug/CollisionManagerTests.dll
/CollisionManagerTests/bin/Debug/CollisionManagerTests.pdb
/CollisionManagerTests/bin/Debug/MonoGame.Framework.dll
/CollisionManagerTests/bin/Debug/MonoGame.Framework.xml
/CollisionManagerTests/bin/Debug/SharpDX.DXGI.dll
/CollisionManagerTests/bin/Debug/SharpDX.Direct2D1.dll
/CollisionManagerTests/bin/Debug/SharpDX.Direct3D11.dll
/CollisionManagerTests/bin/Debug/SharpDX.Direct3D9.dll
/CollisionManagerTests/bin/Debug/SharpDX.MediaFoundation.dll
/CollisionManagerTests/bin/Debug/SharpDX.RawInput.dll
/CollisionManagerTests/bin/Debug/SharpDX.XAudio2.dll
/CollisionManagerTests/bin/Debug/SharpDX.XInput.dll
/CollisionManagerTests/bin/Debug/SharpDX.dll
/CollisionManagerTests/bin/Debug/nunit.framework.dll
/CollisionManagerTests/bin/Debug/nunit.framework.xml
/CollisionManagerTests/obj/Debug/CollisionManagerTests.csproj.FileListAbsolute.txt
/CollisionManagerTests/obj/Debug/CollisionManagerTests.csprojResolveAssemblyReference.cache
/CollisionManagerTests/obj/Debug/CollisionManagerTests.dll
/CollisionManagerTests/obj/Debug/CollisionManagerTests.pdb
/CollisionManagerTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CollisionManagerTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CollisionManagerTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CollisionManagerTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
